<div class="page-header text-center">
	<h1>{{foto.titulo}}</h1>
</div>

<form class="row" name="formulario" ng-submit='submeter()' novalidate>
	<div class="col-md-6">
		<div class="form-group">
			<label for="">Título</label>
			<input ng-maxlength="10" class="form-control" name="titulo" ng-model="foto.titulo" ng-required='true'>

			<span ng-show='formulario.titulo.$error.required' class="form-control alert-danger">Título obrigatório</span>
			
			<span ng-show='formulario.titulo.$error.maxlength' class="form-control alert-danger">Título não pode ter mais de 10 caracteres</span>
		</div>
		<div class="form-group">
			<label for="">URL</label>
			<input class="form-control" name="url" ng-model="foto.url">
		</div>
		<div class="form-group">
			<label for="">Descrição</label>
			<textarea class="form-control" name="descricao" ng-model="foto.descricao"></textarea>
		</div>

		<button ng-disabled='!formulario.$valid' class="btn btn-primary" type="submit">Salvar</button>

		<a href="/" class="btn">Voltar</a>
		<hr>
	</div>

	<div class="col-md-6">
		<minha-foto></minha-foto>
	</div>
</form>